<p>Определить количество целых чисел ≤ n , квадрат которых является палиндромом.
   Например: 26^2 = 676. Вывести на печать числа, квадраты и их количество.</p>
<%= form_tag('/lab11/view', :method => 'get') do %>
    <%= label_tag("Введите число:") %>
    <%= number_field_tag :a, nil, min: 11 %>
    <%= submit_tag("Вычислить") %>
<% end %>

