<%= form_tag  url_for(controller: :proxy, action: :output), method: 'get' do %>
</br>

    <div class = 'container'>

      <div class = 'row'>
        <div class = 'col-md-4'><h3>Введите число (> 11):</h3></div></div>
      <div class = 'row'>
        <div class = 'col-md-4'><%= text_field_tag :v, nil, min: 11, class: 'form-control' %> </div>
      </div>

    </br>
    <fieldset class="form-group">

      <legend>Выбор стороны рендеринга</legend>

      <div class="form-check">

        <label class="form-check-label">

          <input type="radio" class="form-check-input" name="side" value="server" id="server-side" checked>
          Рендеринг на стороне сервера этого приложения

        </label>

      </div>

      <div class="form-check">

        <label class="form-check-label">

          <input type="radio" class="form-check-input" name="side" value="client" id="client-side">
          Отображение сырого XML на стороне браузера

        </label>

      </div>

      <div class="form-check">

        <label class="form-check-label">

          <input type="radio" class="form-check-input" name="side" value="client-with-xslt" id="client-side-xslt">
          Рендеринг на стороне браузера с помощью XSLT

        </label>

      </div>

    </fieldset>

    <%= submit_tag 'Отправить', class: 'btn btn-info' %>

<% end %>
</div>